
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat:wght@200;400&display=swap');

.produtos-container {
    margin-top: 40px;
    padding: 10px;
    display: block;
    margin: auto;
    width: 1200px;
    height: 568px;
}

.produtos-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produtos-container h2{
    font-size: 82px;
    font-weight: 900;
    font-family: 'Elsie Swash Caps';
    text-align: center;
}

.produtos-container span {
    font-weight: 400;
    color: #202020;
    opacity: 0.5;
    text-align: center;
    font-size: 22px;
}

.produtos-lista {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 390px;
    height: 200px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 0 20px;
}

.produto img {
    width: 225px;
}

.produto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.produto-info span{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Elsie Swash Caps';
    color: #202020;
    text-align: start;
    opacity: 1.0;
}

.produto-info p {
    color: #202020;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
}

.compra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.compra span {
    color: #FFCB47;
    font-size: 16px;
    cursor: pointer;
}

.compra span:hover{
    text-decoration: underline;
}

@media (max-width:1000px){
    .produtos-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .produtos-container {
        width: 400px;
    }
}

@media (max-width:1200px) {
    .produtos-lista {
        width: 300px;
        justify-content: space-between;
    }
    .produtos-lista img {
        width:195px
    }
}