@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat:wght@200;400&display=swap');


.btn-desativado {
    background: #ffcb478f;
    cursor:not-allowed;
    opacity: 0.5;
    transition: all 0.5;
}

.btn-desativado:hover {
    background: #ffcb47be;
    cursor:not-allowed;
}


